# Игнорировать папку node_modules
node_modules/

# Игнорировать скомпилированные TypeScript файлы
dist/

# Игнорировать файлы окружения (например, .env)
.env

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать настройки IDE
.vscode/
.idea/

# Игнорировать зависимости, установленные локально (если используются)
.yarn/
.pnp.*

# Игнорировать файлы покрытия тестами
coverage/

# Игнорировать файлы, созданные Jest
jest.config.js
jest.setup.js